
ReMag/.vs/ReMag/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.props
*.xdt
*.nupkg
*.dll
ReMag/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
*.ps1
ReMag/ReMag/bin/roslyn/VBCSCompiler.exe
ReMag/ReMag/bin/roslyn/VBCSCompiler.exe.config
ReMag/ReMag/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ReMag/ReMag/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ReMag/ReMag/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/VBCSCompiler.exe.config
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/VBCSCompiler.exe
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/vbc.rsp
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/vbc.exe.config
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/vbc.exe
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/Microsoft.VisualBasic.Core.targets
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/Microsoft.CSharp.Core.targets
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/csi.rsp
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/csi.exe.config
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/csi.exe
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/csc.rsp
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/csc.exe.config
ReMag/packages/Microsoft.Net.Compilers.2.6.1/tools/csc.exe
ReMag/packages/Microsoft.Net.Compilers.2.6.1/ThirdPartyNotices.rtf
ReMag/ReMag/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
ReMag/ReMag/bin/roslyn/csc.exe
ReMag/ReMag/bin/roslyn/csc.exe.config
ReMag/ReMag/bin/roslyn/csc.rsp
ReMag/ReMag/bin/roslyn/csi.exe
ReMag/ReMag/bin/roslyn/csi.exe.config
ReMag/ReMag/bin/roslyn/csi.rsp
ReMag/ReMag/bin/roslyn/Microsoft.CSharp.Core.targets
ReMag/ReMag/bin/roslyn/Microsoft.VisualBasic.Core.targets
ReMag/ReMag/bin/roslyn/vbc.exe
ReMag/ReMag/bin/roslyn/vbc.exe.config
ReMag/ReMag/bin/roslyn/vbc.rsp
ReMag/ReMag/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.png
*.pdb
*.png
