################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReMag/packages
/ReMag/ReMag/bin/roslyn
/packages
/ReMag/bin
/ReMag/obj
/.vs/ReMag/v15/Server/sqlite3/storage.ide-wal
/.vs/ReMag/v15/Server/sqlite3/storage.ide-shm
/.vs/ReMag/v15/Server/sqlite3/storage.ide
/.vs/ReMag/v15/Server/sqlite3/db.lock
/.vs/ReMag/v15/.suo
/ReMag/.vs/ReMag/v15/Server/sqlite3/storage.ide
/ReMag/.vs/ReMag/v15/Server/sqlite3/db.lock
/ReMag/.vs/ReMag/v15/.suo
