################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReMag/packages
/ReMag/ReMag/bin/roslyn
/packages
/ReMag/bin
/ReMag/obj
